.services-section {
  position: relative;
  background: #0c0c0c;
  color: #fff;
  padding: 4rem 2rem;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  min-height: 100vh;
}

.service-title {
  font-size: 14px;
  padding: 6px 20px;
  position: relative;
  border: #ff5007 1px solid;
  border-radius: 20px;
  color: #ffffff;
  border-bottom: none;
  border-top: none;
  text-align: center;
}
.service-card-container {
  margin-top: 6rem;
  gap: 2rem;
  display: flex;
}

@media screen and (max-width: 768px) {
  .service-card-container {
    flex-direction: column;
  }
}

/* .service-card:hover {
  border: 1px solid #fc640a;
  transform: translateY(-5px);
} */
