.footer {
  background: url("./footer-bg.png") no-repeat center/cover;
  padding: 3rem 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  padding: 20px;
}

.footer-logo img {
  height: 100px;
  width: auto;
}

.footer-text {
  padding: 20px;
}

.footer-text p {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5;
}

.footer-connect-btn {
  padding: 20px;
}

.footer-connect-btn button {
  background: #ffa552;
  border: 1px solid #fc881d;
  color: #000;
  font-weight: 700;
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-connect-btn button:hover {
  background: #fc881d;
}

.footer-page-btn {
  padding: 20px;
}

.footer-page-btn p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.footer-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.footer-btn button {
  background: #fff;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.footer-btn button:hover {
  background: #e6e6e6;
}

/* Bottom Links */
.footer-links {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 150px;
  margin: 10px;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 14px;
  color: #ccc;
  margin: 5px 0;
  cursor: pointer;
}

.footer-col li:hover {
  color: #fff;
}
